{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}


{% block body %}
    <div id="header" class="p-2">
        <a href="{{ url_for("index") }}"><img src="./static/images/header.webp" href="{{ url_for("index") }}"
                                              alt="The logo for Voudoo" class="d-block img-fluid" style="width: 40vh"></a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-color fs-4 top">
        <ul class="navbar-nav nav-fill m-1">
            <li class="nav-item">
                <a class="nav-link noselect" href="{{ url_for("music") }}">Music</a>
            </li>
            <li class="nav-item">
                <a class="nav-link noselect active" href="{{ url_for("about") }}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link noselect" href="{{ url_for("contact") }}">Contact Us</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="m-4 fs-5 text-light">
            <h1 class="my-4" style="text-align:center">The Beginning</h1>
            <p style="text-align:center">
                It all started with one thought... we need to make something, and quick!<br>
                Here we are, after many months of hard work, we have a website and a <br>
                <a href="{{ url_for("music") }}">great piece of music</a> that you should totally listen to.
                <br>
                <br>
                What about the name? Well, one of our members woke up with his body aching<br> everywhere.
                He thought to himself: "What if someone made a voodoo doll of me?",<br>
                a lightbulb appeared above his head: "Our band is going to be named... Voudoo!"
            </p>
        </div>
    </div>

{% endblock %}