{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}


{% block body %}
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./static/images/1.jpg" alt="Los Angeles" class="d-block">
        </div>
        <div class="carousel-item">
          <img src="./static/images/2.jpg" alt="Chicago" class="d-block">
        </div>
        <div class="carousel-item">
          <img src="./static/images/3.jpg" alt="New York" class="d-block">
        </div>
      </div>
    </div>
    <div>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-color fs-4 bottom">
        <ul class="navbar-nav nav-fill m-1">
            <li class="nav-item">
              <a class="nav-link noselect" href="{{ url_for("index") }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link noselect" href="{{ url_for("about") }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link noselect" href="{{ url_for("contact") }}">Contact Us</a>
            </li>
        </ul>
    </nav>
    </div>
{% endblock %}