<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/bootstrap.min.css">
    <link rel="stylesheet" href="./static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<main id="swup" class="transition-fade ease-in-out">
    {% block body %}{% endblock %}

    <div class="cursor"></div>
</main>
<div class="transition-fade"></div>
<script async src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
<script defer>
    const swup = new Swup();

    function init() {
        const cursor = document.querySelector('.cursor');

        document.addEventListener("mousemove", (e) => {
            cursor.setAttribute("style", "top: " + e.pageY + "px; left:" + e.pageX + "px");
        });
    }

    init();

    swup.on('contentReplaced', init);
</script>
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>