<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="Voudoo Official Website" property="og:title" />
    <meta content="website" property="og:type" />
    <meta content="The official website for the death metal band Voudoo." property="og:description" />
    <meta content="https://voudoo.me/" property="og:url" />
    <meta content="https://voudoo.me/static/images/logo_with_text.png" property="og:image" />
    <meta content="#191919" data-react-helmet="true" name="theme-color" />

    <link rel="apple-touch-icon" sizes="180x180" href="./static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/images/favicon-16x16.png">
    <link rel="manifest" href="./static/site.webmanifest">
    <link rel="stylesheet" href="./static/bootstrap.min.css">
    <link rel="stylesheet" href="./static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Official Website</title>
</head>
<body>
<main id="swup" class="transition-fade ease-in-out">
    {% block body %}{% endblock %}

    <div class="cursor"></div>
</main>
{#TODO minify JS#}
<script src="./static/bootstrap.bundle.min.js"></script>
<div class="transition-fade"></div>
<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
<script>
    const swup = new Swup();

    function init() {
        const cursor = document.querySelector('.cursor');

        document.addEventListener("mousemove", (e) => {
            cursor.setAttribute("style", "top: " + e.pageY + "px; left:" + e.pageX + "px");
        });
    }
    init();

    swup.on('contentReplaced', init);
</script>
<script async defer src="https://api.voudoo.me/latest.js"></script>
<noscript><img src="https://api.voudoo.me/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript></body>
</html>